<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('template/head'); -%>
        <style>
            p {
                font-size: 12px;
            }
        </style>
</head>

<body>
    <%- include('template/header'); -%>
        <div class="container-fluid content">
            <div class="d-flex flex-sm-row flex-wrap justify-content-between" id="body-content" style="width: 100%;">
                <%- include('template/sideleft') -%>
                    <!-- content -->
                    <div class="card rounded-0 border border-primary">

                        <div class="card-body" style="width:33rem">
                            <div class="container pt-1 pb-1 mb-1 p-bcolor">
                                <h4 style="color:white">Faq</h4>
                            </div>
                            <div class="d-flex flex-sm-column flex-wrap pl-3 pr-3 mt-4">
                                <p>1. Dilarang Melakukan RMT, sudah terjadi atau belum jika ada niatan ingin melakukan RMT akan langsung ditindak (Sangsi Banned Permanent - Banned HWID)</p>
                                <p>2. Dilarang Menggunakan Segala Jenis Exploitasi Dalam Bentuk Apapun, Baik Berupa Tindakan Hacking Atau Bug Dalam Bermain. (Sangsi Banned 1 Hari - Permanent)</p>
                                <p>3. Dilarang Menggunakan Nickname yang ber-unsur Sara, Pronografi, Menyerupai GameMaster Atau Kata Kata Yang Tidak Senonoh (Sangsi Delete Char - Banned)</p>
                                <p>4. GameMaster Tidak Bertanggung Jawab Jika Player Kehilangkan Item Akibat Kelalaian Sendiri (Human Error)</p>
                                <p>5. Diharapkan Untuk Tidak Melakukan Sharing ID Untuk Menghindari Terjadinya Proses Hacking (GameMaster tidak akan membantu mengembalikan equip kalian baca rules no 4)
                                </p>
                            </div>
                        </div>
                    </div>
                    <%- include('template/sideright') -%>
            </div>
        </div>

        <%- include('template/foot'); -%>
</body>

</html>

</html>